.card {
  background-color: var(--dark-secondary);
  border-radius: 0.7rem;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card-description {
  padding-inline: 1rem;
  padding-block: 1.5rem;
}

.card-description h2 {
  font-size: var(--text-sm);
}

.card-description p {
  margin-top: 0.4rem;
  line-height: 1.8rem;
  font-size: var(--text-xs);
  color: var(--text-secondary);
}
